version = "1.0"

[main]
services = []
name="Restic settings"

    [main.state]
    name = ""
    visible = "false"

        [main.state.state]
        type = "string"

        [main.state.last_run]
        type = "string"

    [main.general]
        [main.general.info]
        ask = """\
        Backup state : {{state}}
        Last run: {{last_run}}
        """
        type = "alert"
        style = "info"

        [main.general.repository]
        type = "string"
        ask.en = "In which location do you want to backup your files?"
        ask.fr = "Dans quel endroit souhaitez-vous sauvegarder vos fichiers ?"
        help.fr = "Spécifiez un serveur SFTP (`sftp://user@host:port//srv/restic-repo`) ou tout autre format de `--repo` [supporté par Restic](https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html), vous devrez ajouter des variables d'environnement manuellement."
        help.en = "Specify a SFTP server (`sftp://user@host:port//srv/restic-repo`) or any other repository format [supported by Restic](https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html), you'll need to add environment variables manually."

        [main.general.ssh_public_key]
        ask.en = "Public key: {ssh_public_key}"
        type = "markdown"
        bind = "/root/.ssh/id___APP___ed25519.pub"

        [main.general.on_calendar]
        ask.en = "When and at which frequency should the backups be performed?"
        ask.fr = "Quand et à quelle fréquence les sauvegardes doivent-elles être effectuées ?"
        type = "string"
        help = "For example: `Monthly`, `Weekly`, `Daily` (=every day at midnight), `Hourly`, `Sat *-*-1..7 18:00:00` (=the first saturday of every month at 18:00), `4:00` (=every day at 4 AM), `5,17:00` (=every day at 5 AM and 5 PM). See the [systemd OnCalendar format for full syntax doc](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"
        default = "Daily"
        
        
    [main.content]
    name = "What should be backed up?"
    optional = false

        [main.content.conf]
        ask.en = "Configuration"
        type = "boolean"

        [main.content.data]
        ask.en = "Data"
        type = "boolean"

        [main.content.data_multimedia]
        ask.en = "Multimedia"
        type = "boolean"

        [main.content.apps]
        ask.en = "Apps"
        type = "tags"
        help = "App list separated by comma. You can write 'all' to select all apps, even those installed after this restic app. You can also select all apps but some apps by writing 'exclude:' following by an app list separated by comma."
        
        
    [main.advanced]
    name = "Advanced configuration"
    optional = true

        [main.advanced.environment]
        type = "text"
        bind = "__INSTALL_DIR__/.env"
        optional = true
        redact = true
        help.en = "Environment variables"
        help.fr = "Variables d'environnement"
        ask.en = "If you store your backups on S3 or any other environment requiring environment variables, enter them here (on per line)"
        ask.fr = "Si vous stockez vos sauvegardes sur un serveur S3 ou sur un autre système nécessitant des variables d'environnement, définissez-les ici (un par ligne)"

        [main.advanced.check_on_calendar]
        ask.en = "When and at which frequency should the backup checks be performed?"
        ask.fr = "Quand et à quelle fréquence les tests de sauvegarde doivent-ils être effectués ?"
        type = "string"
        help = "For example: `Monthly`, `Weekly`, `Daily` (=every day at midnight), `Hourly`, `Sat *-*-1..7 18:00:00` (=the first saturday of every month at 18:00), `4:00` (=every day at 4 AM), `5,17:00` (=every day at 5 AM and 5 PM). See the [systemd OnCalendar format for full syntax doc](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"

        [main.advanced.check_read_data_on_calendar]
        ask.en = "When and at which frequency should the full backup checks be performed?"
        ask.fr = "Quand et à quelle fréquence les tests complets de sauvegarde doivent-ils être effectués ?"
        type = "string"
        help = "For example: `Monthly`, `Weekly`, `Daily` (=every day at midnight), `Hourly`, `Sat *-*-1..7 18:00:00` (=the first saturday of every month at 18:00), `4:00` (=every day at 4 AM), `5,17:00` (=every day at 5 AM and 5 PM). See the [systemd OnCalendar format for full syntax doc](https://wiki.archlinux.org/index.php/Systemd/Timers#Realtime_timer)"
