[Unit]
Description=Check backup __APP__
After=network.target

[Service]
Type=oneshot
ExecStart=__INSTALL_DIR__/check-with-restic
ExecStartPost=__INSTALL_DIR__/restic_check_log
User=__APP__
Group=__APP__

[Install]
WantedBy=multi-user.target
